/* Mobile First */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: beige;
}

.layout_grid {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.alignment_between_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header-top mobile */

header {
  height: 60px;
  background-color: #1b1426;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

header .header_top {
  display: none;
}

/* header-botton mobile */

header .header_botton {
    height: 100%;
}

header .header_botton .logo_icon {
    width: 86px;
    height: 25px;
}

header .header_botton nav {
    position: fixed;
    top: 60px;
    left: -80vh;
    width: 80vw;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(168.78deg, #1B1426 0%, rgba(27, 20, 38, 0.7) 0.01%, rgba(27, 20, 38, 0.4) 99.03%);
    backdrop-filter: blur(5px);
    border-image: linear-gradient(to bottom, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%) 1 100%;
    border-width: 1px;
    border-style: solid;
    justify-content: space-between;
    padding-bottom: 20px;
    z-index: 999;
    transition: 2s;
}

header .header_botton nav > a {
    border-bottom: 1px solid #f9aa01;
    color: #ffffff;
    text-align: center;
    width: 100%;
    padding: 38.5px 0;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Inter';
    font-weight: 400;
}

header .header_botton nav > a:last-of-type {
    border-bottom: none;
}

.showMenu {
    left: 0 !important;
}

header .header_botton .phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header .header_botton .email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header .header_botton .social_midia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 143px;
    height: 22px;
    padding-bottom: 15px;
}

header .header_botton .user_menu {
    position: fixed;
    top: 60px;
    right: -66px;
    width: 9vh;
    height: 45vw;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(168.78deg, #1B1426 0%, rgba(27, 20, 38, 0.7) 0.01%, rgba(27, 20, 38, 0.4) 99.03%);
    backdrop-filter: blur(5px);
    border-image-source: linear-gradient(168.61deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 99.04%);
    border: 1px solid;
    justify-content: space-between;
    padding-bottom: 20px;
    z-index: 999;
    transition: 1s;
}

header .header_botton .user_menu > a {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 18px; 
}

.showMenuUser {
    right: 0px !important;
}

/* Banner */

main .banner_cont {
    margin-top: 60px;
    background-image: url(../assets/image/Banner\ Image\ Frame.png);
    width: 100%;
    height: 606px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

main .banner_cont h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Titillium Web';
    font-size: 40px;
    font-weight: 900;
    text-shadow: 0px 0px 7px #FD4255;
    padding-top: 10px;
    line-height: 61px;
}

main .banner_cont a {
    background-color: #f9aa01;
    width: 171px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #1b1426;
    text-decoration: none;
    font-family: 'Titillium Web';
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    bottom: 88px;
    left: 102px;
}

/* Last Games/Sesion */

main .lasts_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 590px;
    background-color: #1b1426;
    width: 100%;
}

main .box_most {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 335.75px;
    height: 189px;
    background-image: url(../assets/image/popular\ image.png);
    position: relative;
}

main .translucid_bar {
    position: absolute;
    bottom: 0;
    width: 335px;
    height: 50px;
    background: linear-gradient(91.23deg, rgba(239, 239, 239, 0.6) 0.79%, rgba(239, 239, 239, 0.1) 100%), linear-gradient(91.26deg, rgba(255, 255, 255, 0.6) 0.83%, rgba(255, 255, 255, 0.2) 100%);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    border: 1px solid;
    border-image-source: linear-gradient(91.26deg, rgba(255, 255, 255, 0.6) 0.83%, rgba(255, 255, 255, 0.2) 100%);
}

main .form {
    width: 160px;
    height: 40px;
    background-color: #f9aa01;
    transform: skew(-40deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 35px;
  }

main .form span {
    font-family: 'Titillium Web';
    font-weight: 700;
    font-size: 16px;
    line-height: 24.34px;
    color: #000000;
    transform: skew(40deg);
  }

  main .box_last {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 335.75px;
    height: 189px;
    background-image: url(../assets/image/lasts\ Image.png);
    position: relative;
}

/* Session Time Programer */

main .programer_cont {
    width: 100%;
    height: 1535px;
    background-color: #f9aa01;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

main .programer_cont h2 {
    width: 370px;
    height: 27px;
    font-family: 'Titillium Web';
    font-size: 18px;
    font-weight: 900;
    color: #1b1426;
    text-transform: uppercase;
    margin-top: 84px;
    text-align: center;
}

main .programer_cont hr {
    position: absolute;
    top: 146px ;
    width: 204px;
    height: 0;
    border: 2px solid #1b1426;
}

main .character_killjoy {
    background-image: url(../assets/image/kiljoy.png);
    width: 314px;
    height: 511px;
    position: absolute;
    top: 228px;
    left: 20px;
}

main .text_box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 231px;
    height: 300px;
    border-radius: 8px;
    border-image:linear-gradient(to left bottom, rgba(255, 255, 255, 0.97), rgba(27, 20, 38, 0));
    border-width: 1px;
    border-style: solid;
    background: linear-gradient(145.9deg, rgba(122, 49, 236, 0.2) 0%, rgba(47, 7, 109, 0.83) 98.56%);
    position: absolute;
    top: 132px;
    left: 105px;
    backdrop-filter: blur(7.5px);
}

main .text_box h3 {
    color: #ffffff;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    text-shadow: 0px 0px 6px #c6a5e6;
    width: 200px;
    height: 27px;
    text-align: center;
    text-transform: uppercase;
}

main .text_box p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: justify;
    color: #ffffff;
    width: 176px;
    height: 64px;
}

main .character_jinks {
    background-image: url(../assets/image/loljinx.png);
    width: 322px;
    height: 428px;
    position: absolute;
    top: 869px;
    left: 33px;
}

main .text_box_teacher {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 231px;
    height: 300px;
    border-radius: 8px;
    border-image:linear-gradient(to left bottom, rgba(255, 255, 255, 0.97), rgba(27, 20, 38, 0));
    border-width: 1px;
    border-style: solid;
    background: linear-gradient(145.9deg, rgba(122, 49, 236, 0.2) 0%, rgba(47, 7, 109, 0.83) 98.56%);
    position: absolute;
    top: 111px;
    left: -13px;
    backdrop-filter: blur(7.5px);
}

main .text_box_teacher h3 {
    color: #ffffff;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    text-shadow: 0px 0px 6px #c6a5e6;
    width: 200px;
    height: 27px;
    text-align: center;
    text-transform: uppercase;
}

main .text_box_teacher p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: justify;
    color: #ffffff;
    width: 162px;
    height: 121px;
}

/* News Session */

main .news_cont {
    background-image: url(../assets/image/backgrund_notícias.png), linear-gradient(119.63deg, rgba(45, 24, 77, 0) 0%, rgba(27, 20, 38, 0.55) 99.45%);;
    width: 100%;
    height: 3675px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(4px);
    position: relative;
}

main .news_cont h4 {
    width: 76px;
    height: 27px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    margin-top: 46px;
}

main .news_cont hr {
    position: absolute;
    top: 108px;
    width: 204px;
    height: 0px;
    border: 2px solid #F9AA01;
}

main .box_news_1 {
    width: 335px;
    height: 387px;
    background: linear-gradient(141.58deg, rgba(37, 26, 52, 0.34) 0%, rgba(5, 1, 12, 0.79) 98.48%);
    backdrop-filter: blur(3px);
    border-radius: 8px;
    position: absolute;
    top: 226px;
}

main .news_img {
    width: 335px;
    height: 174px;
    border-radius: 8px 8px 0px 0px;
}

main .box_news_1 h5 {
    position: absolute;
    left: 7.72%;
    right: 41.53%;
    top: 49.1%;
    bottom: 41.34%;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #FFFFFF;
}

main .box_news_1 p {
    position: absolute;
    left: 7.72%;
    right: 7.72%;
    top: 62.79%;
    bottom: 5.43%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #FFFFFF;
}

main .box_news_2 {
    width: 335px;
    height: 387px;
    background: linear-gradient(141.58deg, rgba(37, 26, 52, 0.34) 0%, rgba(5, 1, 12, 0.79) 98.48%);
    backdrop-filter: blur(3px);
    border-radius: 8px;
    position: absolute;
    top: 659px;
}

main .box_news_2 h5 {
    position: absolute;
    left: 7.72%;
    right: 41.53%;
    top: 49.1%;
    bottom: 41.34%;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #FFFFFF;
}

main .box_news_2 p {
    position: absolute;
    left: 7.72%;
    right: 7.72%;
    top: 62.79%;
    bottom: 5.43%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #FFFFFF;
}

main .box_news_3 {
    width: 335px;
    height: 387px;
    background: linear-gradient(141.58deg, rgba(37, 26, 52, 0.34) 0%, rgba(5, 1, 12, 0.79) 98.48%);
    backdrop-filter: blur(3px);
    border-radius: 8px;
    position: absolute;
    top: 1092px;
}

main .box_news_3 h5 {
    position: absolute;
    left: 7.72%;
    right: 41.53%;
    top: 49.1%;
    bottom: 41.34%;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #FFFFFF;
}

main .box_news_3 p {
    position: absolute;
    left: 7.72%;
    right: 7.72%;
    top: 62.79%;
    bottom: 5.43%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #FFFFFF;
}

main .box_news_4 {
    width: 335px;
    height: 387px;
    background: linear-gradient(141.58deg, rgba(37, 26, 52, 0.34) 0%, rgba(5, 1, 12, 0.79) 98.48%);
    backdrop-filter: blur(3px);
    border-radius: 8px;
    position: absolute;
    top: 1525px;
}

main .box_news_4 h5 {
    position: absolute;
    left: 7.72%;
    right: 41.53%;
    top: 49.1%;
    bottom: 41.34%;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #FFFFFF;
}

main .box_news_4 p {
    position: absolute;
    left: 7.72%;
    right: 7.72%;
    top: 62.79%;
    bottom: 5.43%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #FFFFFF;
}

main .box_news_5 {
    width: 335px;
    height: 387px;
    background: linear-gradient(141.58deg, rgba(37, 26, 52, 0.34) 0%, rgba(5, 1, 12, 0.79) 98.48%);
    backdrop-filter: blur(3px);
    border-radius: 8px;
    position: absolute;
    top: 1958px;
}

main .box_news_5 h5 {
    position: absolute;
    left: 7.72%;
    right: 41.53%;
    top: 49.1%;
    bottom: 41.34%;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #FFFFFF;
}

main .box_news_5 p {
    position: absolute;
    left: 7.72%;
    right: 7.72%;
    top: 62.79%;
    bottom: 5.43%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #FFFFFF;
}

main .box_news_6 {
    width: 335px;
    height: 387px;
    background: linear-gradient(141.58deg, rgba(37, 26, 52, 0.34) 0%, rgba(5, 1, 12, 0.79) 98.48%);
    backdrop-filter: blur(3px);
    border-radius: 8px;
    position: absolute;
    top: 2391px;
}

main .box_news_6 h5 {
    position: absolute;
    left: 7.72%;
    right: 41.53%;
    top: 49.1%;
    bottom: 41.34%;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #FFFFFF;
}

main .box_news_6 p {
    position: absolute;
    left: 7.72%;
    right: 7.72%;
    top: 62.79%;
    bottom: 5.43%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #FFFFFF;
}

main .box_news_7 {
    width: 335px;
    height: 387px;
    background: linear-gradient(141.58deg, rgba(37, 26, 52, 0.34) 0%, rgba(5, 1, 12, 0.79) 98.48%);
    backdrop-filter: blur(3px);
    border-radius: 8px;
    position: absolute;
    top: 2824px;
}

main .box_news_7 h5 {
    position: absolute;
    left: 7.72%;
    right: 41.53%;
    top: 49.1%;
    bottom: 41.34%;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #FFFFFF;
}

main .box_news_7 p {
    position: absolute;
    left: 7.72%;
    right: 7.72%;
    top: 62.79%;
    bottom: 5.43%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #FFFFFF;
}

main .box_news_8 {
    width: 335px;
    height: 387px;
    background: linear-gradient(141.58deg, rgba(37, 26, 52, 0.34) 0%, rgba(5, 1, 12, 0.79) 98.48%);
    backdrop-filter: blur(3px);
    border-radius: 8px;
    position: absolute;
    top: 3257px;
}

main .box_news_8 h5 {
    position: absolute;
    left: 7.72%;
    right: 41.53%;
    top: 49.1%;
    bottom: 41.34%;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #FFFFFF;
}

main .box_news_8 p {
    position: absolute;
    left: 7.72%;
    right: 7.72%;
    top: 62.79%;
    bottom: 5.43%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #FFFFFF;
}

/* Footer */

footer .footer_cont {
    width: 100%;
    height: 1531px;
    background: linear-gradient(to bottom, #000002 0%, rgba(67, 3, 99, 0.03) 100%), url(../assets/image/backgroung_footer.png);
    background-size: 100% 212px, auto;
    background-position: center 0%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

footer .logo_footer {
    width: 110px;
    height: 32px;
    margin-top: 91px;
}

footer .footer_cont span {
    width: 335px;
    height: 87px;
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    line-height: 17.5px;
    color: #ffffff; 
}

footer .footer_cont .social_cont {
    width: 335px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer .footer_cont .icon_form {
    width: 40px;
    height: 40px;
    background-color: #f9aa01;
    display: flex;
    border-radius: 8px;
    padding-top: 7px;
    justify-content: center;
    margin-top: 169px;
}

footer .footer_nave {
    width: 326px;
    height: 155px;
    position: absolute;
    top: 483px;
}

footer .footer_nave h3 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 46px;
    color: #ffffff;
}

footer .footer_nave hr {
    border: 2px solid #f9aa01;
    width: 112.96px;
}

footer .footer_links ul {
    list-style: none;
    width: 100%;
    height: 61.87px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
    position: absolute;
    margin-top: 43.08px;  
}

footer .footer_links li {
    width: 103.66px;
    height: 24px;
    display: flex;
    align-items: center;
}

footer .footer_links li::before {
    content: "\2015";
    color: #f9aa01;
    padding-right: 12px;
}

footer .footer_links ul a {
    font-family: 'Titillium Web';
    font-weight: 700;
    font-size: 16px;
    line-height: 24.34px;
    text-align: justify;
    color: #ffffff;
    text-decoration: none;
}

footer .address {
    width: 326px;
    height: 257.5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 727px;
    justify-content: flex-start;
    
}

footer .address h3 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 46px;
    color: #ffffff;
}

footer .address hr {
    border: 2px solid #f9aa01;
    width: 102px;
}

footer .address_box {
    width: 289px;
    height: 164.32px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
}

footer .address_box h4 {
    font-family: 'Titillium Web';
    font-style: bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 24.34px;
    color: #f9aa01;
    text-align: justify;
}

footer .address_box span {
    font-family: 'Titillium Web';
    font-style: bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 24.34px;
    color: #ffffff;
    text-align: justify;
}

footer .newsletter {
    width: 333px;
    height: 201px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1104px;
}

footer .newsletter h3 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 46px;
    color: #ffffff;
}

footer .newsletter hr {
    border: 2px solid #f9aa01;
    width: 102px;
}

footer .newsletter_box {
    width: 333px;
    height: 94.45px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    gap: 10px;
}

footer .newsletter_box input {
    width: 333px;
    height: 40px;
    border-radius: 8px;
    background: linear-gradient(91.13deg, rgba(239, 239, 239, 0.6) 0%, rgba(239, 239, 239, 0.1) 100%), linear-gradient(91.13deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid;
    border-image: linear-gradient(91.13deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24.34px;
    color: #ffffff;
    text-align: justify;
    
    
}

footer .newsletter_box ::placeholder {
    font-family: 'Titillium Web';
    font-weight: 400;
    font-size: 16px;
    line-height: 24.34px;
    color: #ffffff;
    text-align: justify;
    padding-left: 18px;
    backdrop-filter: blur(6px);
}

footer .newsletter_box button {
    width: 333px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(249, 170, 1, 1);
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36.5px;
    color: rgba(27, 20, 38, 1);
}

footer .icon_form_footer {
    width: 40px;
    height: 40px;
    background-color: #f9aa01;
    display: flex;
    border-radius: 8px;
    padding-top: 7px;
    justify-content: center;
    margin-top: 169px;
    position: absolute;
    top: 1200px;
    left: 309px;
}

footer .copyright {
    width: 280px;
    height: 26px;
    position: absolute;
    bottom: 40px;
}

footer .copyright span {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24.34px;
    text-align: center;
}





  