/* Mobile First */

@font-face {
    font-family: "titilium web";
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: "quick sand";
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: "inter";
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: beige;
}

.layout_grid {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.alignment_between_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header-top mobile */

header {
  height: 60px;
  background-color: #1b1426;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

header .header_top {
  display: none;
}

/* header-botton mobile */

header .header_botton {
    height: 100%;
}

header .header_botton .logo_icon {
    width: 86px;
    height: 25px;
}

header .header_botton nav {
    position: fixed;
    top: 60px;
    left: -80vh;
    width: 80vw;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right bottom, rgb(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(10px);
    border-image: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    border-width: 1px;
    border-style: solid;
    justify-content: space-between;
    padding-bottom: 20px;
    z-index: 2;
    transition: 2s;
}

header .header_botton nav > a {
    border-bottom: 1px solid #f9aa01;
    color: #ffffff;
    text-align: center;
    width: 100%;
    padding: 38.5px 0;
    text-decoration: none;
    font-size: 15px;
    font-family: "Inter";
    font-weight: 400;
}

header .header_botton nav > a:last-of-type {
    border-bottom: none;
}

.showMenu {
    left: 0 !important;
}

header .header_botton .phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header .header_botton .email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header .header_botton .social_midia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 143px;
    height: 22px;
    padding-bottom: 15px;
}

header .header_botton .user_menu {
    position: fixed;
    top: 60px;
    right: 0px;
    width: 9vh;
    height: 45vw;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right bottom, rgb(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    border-image: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    border-width: 1px;
    border-style: solid;
    justify-content: space-between;
    padding-bottom: 20px;
    z-index: 3;
    transition: 1s;
}

header .header_botton .user_menu > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 18px; 
}

.showMenuUser {
    right: -66px !important;
}

/* Banner */

main .banner_cont {
    margin-top: 60px;
    background-image: url(../assets/image/Banner\ Image\ Frame.png);
    width: 100%;
    height: 606px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

main .banner_cont h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "titilium web";
    font-size: 40px;
    font-weight: 900;
    filter: drop-shadow(0px 0px 7px #FD4255);
    padding-top: 10px;
}

main .banner_cont a {
    background-color: #f9aa01;
    width: 171px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #1b1426;
    text-decoration: none;
    font-family: "titilium web";
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    bottom: 88px;
    left: 102px;
}

/* Last Games/Sesion */

main .lasts_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 590px;
    background-color: #1b1426;
    width: 100%;
}

main .box_most {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 335.75px;
    height: 189px;
    background-image: url(../assets/image/popular\ image.png);
    position: relative;
}

main .translucid_bar {
    position: absolute;
    bottom: 0;
    width: 335px;
    height: 50px;
    background-image:linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) ;
    filter: blur(0 0 4px);
    border-radius: 8px;
    border-image:linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2)) ;
}

main .form {
    width: 160px;
    height: 40px;
    background-color: #f9aa01;
    transform: skew(-40deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 35px;
  }

main .form span {
    font-family: "titilium web";
    font-weight: 700;
    font-size: 16px;
    line-height: 24.34px;
    color: #000000;
    transform: skew(40deg);
  }

  main .box_last {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 335.75px;
    height: 189px;
    background-image: url(../assets/image/lasts\ Image.png);
    position: relative;
}
  